body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    background-image: url("Imagenes/fondo.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.drop {
    position: absolute;
    opacity: 0;
    animation: appear 2s ease-in-out forwards;
}

.drop1 { width: 60px; left: 20%; top: 15%; animation-delay: 0s; }
.drop2 { width: 90px; left: 70%; top: 40%; animation-delay: 0.2s; }
.drop3 { width: 120px; left: 10%; top: 60%; animation-delay: 0.4s; }
.drop4 { width: 150px; left: 80%; top: 25%; animation-delay: 0.6s; }
.drop5 { width: 180px; left: 40%; top: 75%; animation-delay: 0.8s; }
.drop6 { width: 210px; left: 90%; top: 50%; animation-delay: 1s; }
.drop7 { width: 240px; left: 30%; top: 10%; animation-delay: 1.2s; }
.drop8 { width: 270px; left: 60%; top: 60%; animation-delay: 1.4s; }
.drop9 { width: 300px; left: 5%; top: 35%; animation-delay: 1.6s; }
.drop10 { width: 330px; left: 50%; top: 20%; animation-delay: 1.8s; }

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}#Lose h1{
    font-size: 50px;
    color: white ;
    text-align: center;
    margin-top: 200px;
    
    margin-bottom: 20px;
    

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0px 0 #000,
        -2px 0px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000;

}
#Lose a{
    color: white ;
    text-decoration: none;
    transition: all 0.3s ease;

        
}
#Lose h2{
    font-size: 50px;
    color: white ;
    text-align: center;
    margin-top: 200PX;
    margin-left: 765px;
    
    

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0px 0 #000,
        -2px 0px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000;
    animation: float 2s ease-in-out infinite;
    

   
}
@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateY(0px);
    }

    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }

    100% {
        transform: translate(-50%, -50%) translateY(0px);
    }
}
