
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-image: url("Imagenes/fondo.gif");
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Press Start 2P', cursive;
}

#puntuació {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
    color: white;
    z-index: 5;
    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;
}

#temps {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: white;
    z-index: 5;

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;
}

#Instruccions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 2rem;

    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 0 0 20px #00ff00;

    z-index: 10;
    animation: floatMenu 3s ease-in-out infinite;
}

@keyframes floatMenu {
    0% {
        transform: translate(-50%, -50%) translateY(0px);
    }

    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }

    100% {
        transform: translate(-50%, -50%) translateY(0px);
    }
}

#Instruccions h1 {
    font-size: 26px;
    color: #CCFF00;
    text-align: center;
    margin-bottom: 20px;

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0px 0 #000,
        -2px 0px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000;
}

#Instruccions li {
    font-size: 15px;
    color: #bc13fe;
    margin-bottom: 12px;
    line-height: 1.5;

    text-shadow:
        2px 2px 0 #432678,
        -2px 2px 0 #432678,
        2px -2px 0 #432678,
        -2px -2px 0 #432678,
        2px 0px 0 #432678,
        -2px 0px 0 #432678,
        0px 2px 0 #432678,
        0px -2px 0 #432678;
}

#Instruccions p {
    font-size: 20px;
    color: #bc13fe;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 0 #000;
}

#enemigosPrincipales {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#enemigosPrincipales img {
    width: 110px;
    height: auto;
}

#PDiddy {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
    z-index: 2;
}


#OilBaby {
    position: absolute;
    top: 18%;
    left: 50%;
    width: 10px;
    height: auto;
    z-index: 5;
}


@media (max-width: 600px) {
    body {
        background-size: 100% auto;
    }

    #Instruccions {
        width: 85%;
        padding: 1.6rem;
    }

    #enemigosPrincipales img {
        width: 20vw;
    }

    #PDiddy {
        width: 28vw;
    }

    #OilBaby {
        width: 6.5vw;
    }

    #puntuació,
    #temps {
        font-size: 3.5vw;
    }

    #Instruccions li {
        font-size: 3vw;
    }

    #Instruccions h1 {
        font-size: 4.5vw;
    }

    #Instruccions p {
        font-size: 3.5vw;
    }
}

/* #Lose h1{
    font-size: 50px;
    color: white ;
    text-align: center;
    margin-top: 200px;
    
    margin-bottom: 20px;
    

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0px 0 #000,
        -2px 0px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000;

}
#Lose a{
    color: white ;
    text-decoration: none;
    transition: all 0.3s ease;

        
}
#Lose h2{
    font-size: 50px;
    color: white ;
    text-align: center;
    margin-top: 200PX;
    margin-left: 765px;
    
    

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0px 0 #000,
        -2px 0px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000;
    animation: float 2s ease-in-out infinite;
    

   
}
@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateY(0px);
    }

    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }

    100% {
        transform: translate(-50%, -50%) translateY(0px);
    }
}


#gota1 {
    position: fixed;
    top: 15%;
    left: 8%;
    width: 280px;
    z-index: 5;
    transform: rotate(-25deg);
    opacity: 0.6;
}


#gota2 {
    position: fixed;
    top: 8%;
    right: 15%;
    width: 240px;
    z-index: 5;
    transform: rotate(35deg);
    opacity: 0.75;
}


#gota3 {
    position: fixed;
    bottom: 12%;
    left: 18%;
    width: 260px;
    z-index: 5;
    transform: rotate(18deg);
    opacity: 0.55;
}


#gota4 {
    position: fixed;
    bottom: 8%;
    right: 10%;
    width: 300px;
    z-index: 5;
    transform: rotate(-15deg);
    opacity: 0.7;
}


#gota5 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    width: 350px;
    z-index: 1;
    opacity: 0.4;
} */
