body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    background-image: url("Imagenes/fondo.gif");
    background-size: cover;
    background-position: center;
}

#game {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#PDiddy {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    z-index: 10;
}

.fila-enemigos img {
    position: absolute;
    top: 20px;
    z-index: 5;
}

#puntuació,
#temps {
    position: absolute;
    color: white;
    font-size: 20px;
    z-index: 15;
    text-shadow: 2px 2px 0 #000;
}

#puntuació {
    top: 20px;
    left: 20px;
}

#temps {
    top: 20px;
    right: 20px;
}

#Instruccions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.85);
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 0 0 20px #00ff00;
    z-index: 20;
    animation: floatMenu 3s ease-in-out infinite;
}

#Instruccions h1 {
    font-size: 26px;
    color: #CCFF00;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 #000;
}

#Instruccions li {
    font-size: 15px;
    color: #bc13fe;
    margin-bottom: 12px;
    line-height: 1.5;
}

#Instruccions p {
    font-size: 20px;
    color: #bc13fe;
    text-align: center;
    margin-top: 20px;
}

@keyframes floatMenu {
    0% {
        transform: translate(-50%, -50%) translateY(0px);
    }

    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }

    100% {
        transform: translate(-50%, -50%) translateY(0px);
    }
}

/* #Lose h1{
    font-size: 50px;
    color: white ;
    text-align: center;
    margin-top: 200px;
    
    margin-bottom: 20px;
    

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0px 0 #000,
        -2px 0px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000;

}
#Lose a{
    color: white ;
    text-decoration: none;
    transition: all 0.3s ease;

        
}
#Lose h2{
    font-size: 50px;
    color: white ;
    text-align: center;
    margin-top: 200PX;
    margin-left: 765px;
    
    

    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0px 0 #000,
        -2px 0px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000;
    animation: float 2s ease-in-out infinite;
    

   
}
@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateY(0px);
    }

    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }

    100% {
        transform: translate(-50%, -50%) translateY(0px);
    }
}


#gota1 {
    position: fixed;
    top: 15%;
    left: 8%;
    width: 280px;
    z-index: 5;
    transform: rotate(-25deg);
    opacity: 0.6;
}


#gota2 {
    position: fixed;
    top: 8%;
    right: 15%;
    width: 240px;
    z-index: 5;
    transform: rotate(35deg);
    opacity: 0.75;
}


#gota3 {
    position: fixed;
    bottom: 12%;
    left: 18%;
    width: 260px;
    z-index: 5;
    transform: rotate(18deg);
    opacity: 0.55;
}


#gota4 {
    position: fixed;
    bottom: 8%;
    right: 10%;
    width: 300px;
    z-index: 5;
    transform: rotate(-15deg);
    opacity: 0.7;
}


#gota5 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    width: 350px;
    z-index: 1;
    opacity: 0.4;
} */
